.idea
*.iws
*.iml
*.ipr
/hm-service/src/main/resources/application-dev.yaml
/hm-service/src/main/resources/application-local.yaml

target/
!**/src/main/**/target/
!**/src/test/**/target/
/logs/hm-service/spring.log
/logs/hm-service/spring.log.2026-06-27.0.gz
/item-service/src/main/resources/application-dev.yaml
/item-service/src/main/resources/application-local.yaml
/.claude/
/logs/item-service/spring.log
/hm-service/logs/hm-service/spring.log
/cart-service/.mvn/wrapper/maven-wrapper.properties
/cart-service/src/main/resources/application-dev.yaml
/cart-service/src/main/resources/application-local.yaml
/logs/cart-service/spring.log
/logs/hm-api/spring.log
